.shadow {
    box-shadow: 0 0 20px 3px rgb(0 0 0 / 5%);
}

.background {
    background: linear-gradient(180deg,rgba(255,192,97,.23),rgba(255,192,97,0));
}

.benefit {
    font-size: 12px;
    text-decoration: underline;
    text-decoration-style: dashed;
}

.test {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: red;
}

.table {
    margin: 0 auto;
  
    th {
      padding: 6px 12px;
      border: 1px solid #000;
    }
  }
  
  .modal {
  
    /* Extra small devices (phones, 600px and down) */
    @media only screen and (max-width: 600px) {
      width: 400px !important;
    }
  
    /* Small devices (portrait tablets and large phones, 600px and up) */
    @media only screen and (min-width: 600px) {
      width: 600px !important;
    }
  
    /* Medium devices (landscape tablets, 768px and up) */
    @media only screen and (min-width: 768px) {
      width: 700px !important;
    }
  
    /* Large devices (laptops/desktops, 992px and up) */
    @media only screen and (min-width: 992px) {
      width: 1000px !important;
    }
  
    
  }