@import './variables';

// Steps custom style
.ant-steps-item-finish>.ant-steps-item-container>.ant-steps-item-content>.ant-steps-item-title::after {
  display: none;
}

.ant-steps-item-finish .ant-steps-item-icon {
  background-color: $active-color  !important;
}

.ant-steps-item-finish .ant-steps-item-icon>.ant-steps-icon {
  color: #ffffff !important;
}

// Checkbox custom style
.ant-checkbox-inner {
  width: 20px !important;
  height: 20px !important;

  // border-radius: 50% !important;
  background-color: #ffffff !important;

  &::after {
    left: 30% !important;
  }
}

.ant-checkbox-checked .ant-checkbox-inner::after {
  border-color: $active-color  !important;
}


.ant-checkbox:hover::after {
  // border-radius: 50% !important;
  border: none !important;
}

.am-list-content:empty {
  display: none;
}

.am-list-content:not(:empty) {
  flex: 10 !important;
  opacity: 0.8;
  font-size: 14px !important;
  color: #aaa !important;
}

.am-list-extra:not(:empty) {
  text-align: left !important;
  flex: 1;
  color: #000 !important;
  font-size: 14px !important;
}

.am-list-item:hover {
  border-color: #833391;
  border-right-width: 1px !important;
}

.am-list-item {
  box-sizing: border-box;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  transition: all 0.3s;
  min-height: 25px !important;
}

.tabs-product {
  .product-name {
    padding: 0 10px;
  }

  .ant-tabs .ant-tabs-tab-active {
    background: #167ffc !important;

    .product-name {
      color: #ffffff !important;
    }
  }
}

.ant-tabs-nav-list {
  flex: initial !important;
}

.ant-table-cell {
  padding: 10px !important;
}

.ant-form-item,
.ant-radio-group {
  margin-bottom: 2px !important;
}

.ant-select {
  font-size: 14px !important;
}

.ant-checkbox-wrapper {
  align-items: start;
}

.ant-tag {
  border-radius: 10px;
  padding: 3px 10px;
  font-size: 12px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.ant-btn:hover {
  color: $secondary-color;
  border: 1px solid $bg-color;
}

.ant-btn-primary {
  background-color: $primary-color;
}

.ant-btn.ant-btn-primary:not([disabled]):hover,
.ant-btn-background-ghost:not([disabled]):hover {
  background-color: $secondary-color !important;
  border: 1px solid $bg-color;
  color: #fff;
}
.ant-collapse>.ant-collapse-item>.ant-collapse-header>.ant-collapse-header-text {
  width: 100% !important;
}

.ant-carousel {

  .slick-prev,
  .slick-next,
  .slick-prev:hover,
  .slick-next:hover,
  .slick-prev:focus,
  .slick-next:focus {
    position: absolute;
    top: 50%;
    display: block;
    width: 30px;
    height: 30px;
    margin-top: -10px;
    padding: 7px;
    color: black;
    font-size: 16px;
    line-height: 1;
    background: white;
    border: 0;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04)) drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));

  }


  .slick-prev {
    left: - 35px;
  }

  .slick-next {
    right: - 35px;
  }



  .slick-list {
    display: flex;

    .slick-track {
      display: flex;
      margin-top: 10px;
      margin-bottom: 10px;

      .slick-slide {
        display: flex;
        justify-content: center;

        &>div {
          display: flex;
          width: 100%;
        }
      }
    }
  }
}
.ant-steps-item-description {
  max-width: 100% !important;
}
.ant-divider-horizontal {
  margin: 3px 0;
}

.ant-segmented-item-selected:hover, .ant-segmented-item-selected:focus {
  color: #fff;
}
.ant-segmented-item-selected {
  background-color: #167FFC;
  color: #fff;
}
.ant-card-bordered {
  border-radius: 8px;
}
.ant-collapse-header {
  background-color: #fff;
  // padding: 5px 5px 5px 0 !important;
  * {
    color: #167ffc;
  }
  
}
.ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow {
  margin-right: 3px !important;
}
.ant-segmented.ant-segmented-lg .ant-segmented-item-label {
  font-size: 12px !important;
  font-weight: 700;
}
.ant-descriptions-item-label, .ant-descriptions-item-content {
  vertical-align: top;
}
.ant-descriptions-item-label {
  min-width: 140px;
}
h2.ant-typography {
  margin-bottom: 10px !important;
  margin-top: 0 !important;
  padding-top: 20px !important;
  font-size: 25px !important;
}
h3.ant-typography {
  font-size: 20px !important;
}
.ant-card-body {
  padding: 15px !important;
}